@model List<Complex_for_analyzing_hash_functions.Models.AlgorithmComparisonPoint>

@{
    ViewData["Title"] = "Сравнение алгоритмов";
}

<h2 class="fw-semibold mb-3">Сравнение хэш-функций</h2>

<p class="text-muted">
    Фиксируется число раундов, после чего производится сравнительный анализ
    различных алгоритмов по выбранной статистической метрике.
</p>

<form method="get" class="mb-4">

    <div class="row g-3 align-items-end">
        <div class="col-auto">
            <label class="form-label">Число раундов</label>
            <input type="number" name="rounds"
                   value="@ViewBag.Rounds"
                   class="form-control" min="1" />
        </div>

        <div class="col-auto">
            <button class="btn btn-primary">Построить</button>
        </div>
    </div>

    <div class="mt-3">
        <label class="form-label fw-semibold">Метрика:</label><br />

        <div class="form-check form-check-inline">
            <input class="form-check-input"
                   type="radio"
                   name="metric"
                   value="sac"
                   checked="@(ViewBag.Metric == "sac")">
            <label class="form-check-label">Avalanche (SAC)</label>
        </div>

        <div class="form-check form-check-inline">
            <input class="form-check-input"
                   type="radio"
                   name="metric"
                   value="bic"
                   checked="@(ViewBag.Metric == "bic")">
            <label class="form-check-label">BIC</label>
        </div>

        <div class="form-check form-check-inline">
            <input class="form-check-input"
                   type="radio"
                   name="metric"
                   value="ham"
                   checked="@(ViewBag.Metric == "ham")">
            <label class="form-check-label">Hamming</label>
        </div>
    </div>

</form>


<div class="card shadow-sm">
    <div class="card-body">
        <canvas id="compareChart" height="120"></canvas>
    </div>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        const algorithms = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(
        Model.Select(m => m.Algorithm)
    ));

        const mean = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(
        Model.Select(m => m.Mean)
    ));

        const metric = "@ViewBag.Metric";
    </script>

    <script src="~/js/hash-compare.js"></script>
}